.root {
    -fx-background-image: url("../it/polimi/ingsw/psp23/images/utility/background_image.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.transparent-scrollpane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.transparent-scrollpane .viewport {
    -fx-background-color: transparent;
}

.transparent-hbox {
    -fx-background-color: transparent;
}

.quit-button {
    -fx-background-color: rgb(186, 22, 22);
    -fx-text-fill: white;
}

.quit-button:hover{
    -fx-background-color: rgb(255, 2, 2);
    -fx-text-fill: white;
}

.main-button:hover {
    -fx-background-color: #df0a0a;
    -fx-cursor: hand;
}


.cell-default {
    -fx-background-color: transparent;
}

.cell-hover {
    -fx-border-color: gray;
    -fx-background-color: lightblue;
}

.cell-highlight {
    -fx-border-color: gray;
    -fx-background-color: lightgreen;
}

.default-button:hover {
    -fx-background-color: #5773ff;
    -fx-cursor: hand;
}

