.root {
    -fx-background-image: url("../it/polimi/ingsw/psp23/images/utility/main_menu.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

}

.done-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-family: "Arial Black";
}

.done-button:hover {
    -fx-background-color: #66FF66;
    -fx-cursor: hand;
    -fx-font-size: 17px;
    -fx-font-family: "Arial Black";
}
.generic-button {
    -fx-background-color: #c5c0c0;
    -fx-text-fill: white;
}

.generic-button:hover {
    -fx-background-color: #5773ff;
    -fx-cursor: hand;
}

#usernameField {
    -fx-font-size: 17px;
    -fx-font-family: "Arial Black";
}

